body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('src/assets/Images/startWarsBG.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}